*{
    margin: 0px;
    padding: 0px;
    outline: 1px dotted red; 
}

.test{
    width: 900px;
    height: 600px;
    background-color: lightblue;
    margin: 0px auto;
    display: flex;
    align-items: center;

}

p{
}